<a href="https://colab.research.google.com/github/RaneemAbdulazez/Pandas/blob/main/CarsExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [18]:
cars={
    "car_brand":['Mecedece',"Honda","Honda","Toyota","Mecedece","Oudi"],
    "price":[1000000,200000,150000,250000,1000000,3000000],
    "safety":[8,6,7,9,5,10]
  }
cars=pd.DataFrame(cars)
cars

  car_brand    price  safety
0  Mecedece  1000000       8
1     Honda   200000       6
2     Honda   150000       7
3    Toyota   250000       9
4  Mecedece  1000000       5
5      Oudi  3000000      10

In [27]:
cars.sort_index()

  car_brand    price  safety
0  Mecedece  1000000       8
1     Honda   200000       6
2     Honda   150000       7
3    Toyota   250000       9
4  Mecedece  1000000       5
5      Oudi  3000000      10

In [20]:
cars.groupby(['car_brand']).count()

           price  safety
car_brand
Honda          2       2
Mecedece       2       2
Oudi           1       1
Toyota         1       1

In [31]:
cars.groupby(['car_brand'])['price'].agg(['min','max'])

               min      max
car_brand
Honda       150000   200000
Mecedece   1000000  1000000
Oudi       3000000  3000000
Toyota      250000   250000

In [35]:
cars.groupby(['car_brand'])['price'].agg(['min','max']).sort_values(by='car_brand')

               min      max
car_brand
Honda       150000   200000
Mecedece   1000000  1000000
Oudi       3000000  3000000
Toyota      250000   250000